.btn {
    width: 40px;
    margin-left: 15px;
    padding: 10px;
    color: white;
    background-color: black;
}

.cont {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;
}

.price {
    margin-left: 100px;
}